body {
  position: relative;
}
.btn__accessibility {
  z-index: 20;
  display: block;
  content: "";
  position: absolute;
  right: 6px;
  top: 12px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #2e83f2 url("../images/icon-universal-access.svg") no-repeat center center;
  border-color: var(--white);
  cursor: pointer;
  transition: transform 0.3s;
}

.btn__accessibility.active {
  background: #2e83f2 url("../images/close.svg") no-repeat center center;
}

.btn__accessibility:hover {
  transform: scale(1.1);
}

.modal {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 16px;
  right: 12px;
  z-index: 10;
  max-width: 600px;
  min-width: 250px;
  height: 60vh;
  border-radius: var(--radius-md);
  background-color: var(--bg-accesibility-modal);
  box-shadow: var(--card-shadow);
}

.modal__title {
  font: var(--font-subtitle);
  color: var(--text-title);
  padding: var(--spacing-sm);
  text-align: center;
  position: relative;
}

.modal__title::after {
  position: absolute;
  display: block;
  content: "";
  width: 80%;
  height: 2px;
  background-color: var(--clr-deco);
  margin-top: var(--spacing-sm);
  left: 50%;
  transform: translateX(-50%);
}

.modal__options section {
  padding: 0 var(--spacing-md);
}

.modal__options h3 {
  font: var(--font-subtitle);
  color: var(--text-title);
}

.modal__options-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.modal__options-container label {
  display: block;
  font: var(--font-body);
  color: var(--text-body);
  border: 2px solid var(--deco-modal);
  padding: var(--spacing-sm);
  border-radius: var(--radius-md);
}

.modal__options-container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

label {
  transition: 0.3s;
}

label:hover {
  transform: scale(1.1);
}

label.active {
  background: var(--clr-deco);
  color: var(--white);
}

@media (max-width: 400px) {
  .btn__accessibility {
    width: 36px;
    height: 36px;
  }
}
