body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--bg-page);
  min-height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
    overflow-x: hidden;
}

.card {
  max-width: 20rem;
  border-radius: var(--radius-md);
  background-color: var(--bg-card);
  padding: var(--spacing-sm);
  box-sizing: border-box;
  box-shadow: var(--card-shadow);
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-md);
}

.card__text-container {
  padding: 0 var(--spacing-sm);
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.card__title {
  font: var(--font-title);
  color: var(--text-title);
  margin: var(--spacing-md) 0;
}

.card__text {
  font: var(--font-body);
  color: var(--text-body);
  letter-spacing: 0.2px;
}

@media (max-width: 375px) {
  html[data-font-size="large-text"] {
    font-size: 110%;
  }
}
