:root {
  --bg-page: hsl(212, 45%, 89%);
  --bg-card: hsl(0, 0%, 100%);
  --text-title: hsl(218, 44%, 22%);
  --text-body: hsl(216, 15%, 48%);
  --white: #fff;

  --font-title: bold 1.375rem/1.2 "Outfit", sans-serif;
  --font-subtitle: bold 1.125rem/1.2 "Outfit", sans-serif;
  --font-body: 0.9375rem/1.4 "Outfit", sans-serif;

  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2.5rem;

  --radius-md: 1.25rem;
  --card-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  /*Acessibility Modal*/
  --bg-accesibility-modal: hsl(0, 0%, 100%);
  --deco-modal: #a3adb8;
  --clr-deco: #2e83f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-page: hsl(218 44% 19%);
    --bg-card: hsl(218 44% 13.1%);
    --text-title: hsl(0, 0%, 100%);
    --text-body: hsl(212, 45%, 89%);

    /*Acessibility Modal*/
    --bg-accesibility-modal: hsl(218 44% 13.1%);
  }
}

html[data-theme="dark-theme"] {
  --bg-page: hsl(218 44% 19%);
  --bg-card: hsl(218 44% 13.1%);
  --text-title: hsl(0, 0%, 100%);
  --text-body: hsl(212, 45%, 89%);
}

html[data-theme="light-theme"] {
  --bg-page: hsl(212, 45%, 89%);
  --bg-card: hsl(0, 0%, 100%);
  --text-title: hsl(218, 44%, 22%);
  --text-body: hsl(216, 15%, 48%);
}

html {
  transition: font-size 0.3s;
}

html[data-font-size="small-text"] {
  font-size: 75%;
}

html[data-font-size="medium-text"] {
  font-size: 100%;
}
html[data-font-size="large-text"] {
  font-size: 120%;
}

[data-disable-animations] *,
[data-disable-animations] *:before,
[data-disable-animations] *:after {
  transition-duration: 0s !important;
  animation-duration: 0s !important;
}
